<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:x="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <contentTagging>
      <providers>
        <taxonomy>
          <add name="CachedItemTaxonomyProvider" type="Sitecore.Connector.CMP.TaxonomyProvider.CachedItemTaxonomyProvider, Sitecore.Connector.CMP.TaxonomyProvider" />
        </taxonomy>
      </providers>
    </contentTagging>
  </sitecore>
</configuration>
