.preview-search-content-popup {
  --tw-bg-opacity: 1;
  --tw-border-opacity: 1;
  background-color: rgb(229 229 229 / var(--tw-bg-opacity));
  border-color: rgb(204 204 204 / var(--tw-border-opacity));
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
}

.preview-search-content-container {
  bottom: 0px;
  overflow-x: hidden;
  overflow-y: scroll;
  position: fixed;
  right: 0px;
  top: 93px;
  width: 100%;
}

.preview-search-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  width: 100%;
}

