.preview-search-play-popup {
  display: flex;
  flex-direction: column;
  padding: 1.25rem 1rem;
  border-color: rgb(204 204 204 / var(--tw-border-opacity));
  background-color: rgb(229 229 229 / var(--tw-bg-opacity));
  --tw-bg-opacity: 1;
  --tw-border-opacity: 1;
}

.preview-search-play-container {
  position: fixed;
  right: 0px;
  top: 93px;
  width: 50%;
}

.preview-search-play {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1536px;
}

