.search-input-play {
  border-radius: 5px;
  margin: auto 1rem auto auto;
  padding: 5px;
}

.search-play-icon {
  color: rgb(255 211 28 / var(--tw-bg-opacity));
  cursor: pointer;
  margin-right: 1rem;
}
