.section-news {
  @apply box-border;
  background: url('../../assets/img/highlightsnews.png') no-repeat;

  &-container {
    @apply flex flex-col w-full gap-16 lg:gap-10 lg:flex-row;

    .news-tweet {
      @apply h-max static lg:pt-[200px] lg:top-[0] lg:sticky;

      h2.NewsHeading {
        @apply text-[45px] w-full lg:w-fit font-bold md:text-[60px] lg:text-[56px] leading-[48px] md:leading-[60px] text-black uppercase mb-[32px] lg:pt-[60px];
      }

      &-button {
        font-weight: bold;
        position: relative;
        display: inline-block !important;
        text-transform: capitalize;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        background: transparent
          linear-gradient(270deg, #1e1343 0%, #261d5e 23%, #312a82 54%, #5154b6 100%) 0% 0%
          no-repeat padding-box;
        color: #fff;
        border-radius: 50px;
        padding: 6px 25px 7px 25px;
        font-size: 18px;
        line-height: 36px;
      }
    }

    .news-grid-container {
      @apply col-span-1 md:col-span-2;

      .news-grid {
        @apply flex flex-col w-full h-full lg:pt-[60px];

        .item-image {
          @apply h-full object-cover overflow-hidden;
        }

        &-item {
          @apply w-full flex flex-grow flex-col-reverse md:flex-row justify-center items-center  md:gap-6 px-[12px] md:pl-[0px] py-[30px] mb-[30px];
          flex: 1 0 auto;

          img.item-image {
            @apply w-full md:w-[40%];
          }

          div.item-data {
            @apply w-full md:w-[50%] md:pr-[40px] lg:pr-[60px] pb-[20px] md:pb-[40px];
            h3 {
              @apply text-[#000] font-bold mb-[28px] md:mb-[32px] leading-[28px] md:leading-[36px] text-[24px] md:text-[28px];
            }
            a.item-data-button {
              font-weight: bold;
              font-size: 14px;
              line-height: 20px;
              background-color: #f8f8f8;
              position: relative;
              display: inline-block !important;
              border-radius: 50px;
              text-transform: capitalize;
              color: #3e3c90;
              padding: 12px 24px 13px 24px;
              transform: translateZ(0);
              -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
              -moz-osx-font-smoothing: grayscale;
              overflow: hidden;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
