.section {
  @apply basis-full py-20 px-0 bg-[#f8f8f8];

  .section-news-container {
    @apply box-border flex flex-col w-full gap-16 lg:flex-row lg:gap-10 xl:gap-36;
    background: url('../../assets/img/highlightsnews.png') no-repeat;

    .news-tweet {
      @apply h-max static lg:pt-[160px] xl:pt-[200px] lg:pb-[50px] lg:top-[0] xl:top-[10vh] lg:sticky;

      h2.NewsHeading {
        @apply text-[45px] w-full lg:w-fit font-bold md:text-[60px] leading-[48px] md:leading-[60px] text-black uppercase mb-[32px] lg:pt-[40px];
      }

      &-button {
        font-weight: bold;
        position: relative;
        display: inline-block !important;
        text-transform: capitalize;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        background: transparent
          linear-gradient(270deg, #1e1343 0%, #261d5e 23%, #312a82 54%, #5154b6 100%) 0% 0%
          no-repeat padding-box;
        color: #fff;
        border-radius: 50px;
        padding: 6px 25px 7px 25px;
        font-size: 18px;
        line-height: 36px;
      }
    }
  }

  &.section-full-left {
    .section-content {
      @apply max-w-[50em] my-0 mx-auto items-start;

      .section-content-p {
        @apply w-full text-left;
      }
    }
  }

  .section-content {
    @include flex--center--column;

    @apply w-full my-0 mx-auto box-border max-w-[1440px];

    .section-content-title {
      @apply text-2xl font-bold pb-5 m-0 text-blue-light normal-case;
      @apply md:text-5xl;
    }

    .section-content-subtitle {
      @apply text-center;
    }

    .section-content-p {
      @apply pb-8 text-center text-black sm:w-full md:w-2/3 lg:w-1/2 leading-normal;

      p {
        @apply pb-3;
      }
    }

    /* used in HeaderBanner */
    &-left {
      @apply items-start justify-start;
      @apply sm:pl-10 sm:w-full;
      @apply md:w-3/5 md:ml-0;
    }

    /* used in NewsDetail */
    &.left-content {
      .section-content-p {
        @apply text-left;
      }
    }
  }

  &-dark {
    @apply bg-black;

    .section-content {
      .section-content-p {
        @apply text-white;
      }

      .section-content-title {
        @apply text-orange;
      }
    }
  }

  &-light {
    @apply bg-[#f8f8f8];
  }

  &-dark-pattern {
    @apply bg-pattern-gray;
  }

  &-light-pattern {
    @apply bg-pattern-color;
  }
}

.scEmptyPlaceholder {
  @apply w-full h-20;
}
