.sc-jss-empty-placeholder {
  @apply basis-full;
}

.not-empty-placeholder {
  @apply min-h-[10rem];
}

main {
  @apply flex flex-wrap;
}

#headless-main-empty {
  @apply !max-w-full px-0;

  > .component-content > .row {
    @apply mx-0;
  }
}

.row {
  @apply flex flex-wrap;
}

.offset {
  &-0 {
    @apply ml-0;
  }

  &-1 {
    @apply ml-[8.33333333%];
  }

  &-2 {
    @apply ml-[16.66666667%];
  }

  &-3 {
    @apply ml-[25%];
  }

  &-4 {
    @apply ml-[33.33333333%];
  }

  &-5 {
    @apply ml-[41.66666667%];
  }

  &-6 {
    @apply ml-[50%];
  }

  &-7 {
    @apply ml-[58.33333333%];
  }

  &-8 {
    @apply ml-[66.66666667%];
  }

  &-9 {
    @apply ml-[75%];
  }

  &-10 {
    @apply ml-[83.33333333%];
  }

  &-11 {
    @apply ml-[91.66666667%];
  }
}

.sm\:offset {
  &-0 {
    @apply sm:ml-0;
  }

  &-1 {
    @apply sm:ml-[8.33333333%];
  }

  &-2 {
    @apply sm:ml-[16.66666667%];
  }

  &-3 {
    @apply sm:ml-[25%];
  }

  &-4 {
    @apply sm:ml-[33.33333333%];
  }

  &-5 {
    @apply sm:ml-[41.66666667%];
  }

  &-6 {
    @apply sm:ml-[50%];
  }

  &-7 {
    @apply sm:ml-[58.33333333%];
  }

  &-8 {
    @apply sm:ml-[66.66666667%];
  }

  &-9 {
    @apply sm:ml-[75%];
  }

  &-10 {
    @apply sm:ml-[83.33333333%];
  }

  &-11 {
    @apply sm:ml-[91.66666667%];
  }
}

.md\:offset {
  &-0 {
    @apply md:ml-0;
  }

  &-1 {
    @apply md:ml-[8.33333333%];
  }

  &-2 {
    @apply md:ml-[16.66666667%];
  }

  &-3 {
    @apply md:ml-[25%];
  }

  &-4 {
    @apply md:ml-[33.33333333%];
  }

  &-5 {
    @apply md:ml-[41.66666667%];
  }

  &-6 {
    @apply md:ml-[50%];
  }

  &-7 {
    @apply md:ml-[58.33333333%];
  }

  &-8 {
    @apply md:ml-[66.66666667%];
  }

  &-9 {
    @apply md:ml-[75%];
  }

  &-10 {
    @apply md:ml-[83.33333333%];
  }

  &-11 {
    @apply md:ml-[91.66666667%];
  }
}

.lg\:offset {
  &-0 {
    @apply lg:ml-0;
  }

  &-1 {
    @apply lg:ml-[8.33333333%];
  }

  &-2 {
    @apply lg:ml-[16.66666667%];
  }

  &-3 {
    @apply lg:ml-[25%];
  }

  &-4 {
    @apply lg:ml-[33.33333333%];
  }

  &-5 {
    @apply lg:ml-[41.66666667%];
  }

  &-6 {
    @apply lg:ml-[50%];
  }

  &-7 {
    @apply lg:ml-[58.33333333%];
  }

  &-8 {
    @apply lg:ml-[66.66666667%];
  }

  &-9 {
    @apply lg:ml-[75%];
  }

  &-10 {
    @apply lg:ml-[83.33333333%];
  }

  &-11 {
    @apply lg:ml-[91.66666667%];
  }
}

.xl\:offset {
  &-0 {
    @apply xl:ml-0;
  }

  &-1 {
    @apply xl:ml-[8.33333333%];
  }

  &-2 {
    @apply xl:ml-[16.66666667%];
  }

  &-3 {
    @apply xl:ml-[25%];
  }

  &-4 {
    @apply xl:ml-[33.33333333%];
  }

  &-5 {
    @apply xl:ml-[41.66666667%];
  }

  &-6 {
    @apply xl:ml-[50%];
  }

  &-7 {
    @apply xl:ml-[58.33333333%];
  }

  &-8 {
    @apply xl:ml-[66.66666667%];
  }

  &-9 {
    @apply xl:ml-[75%];
  }

  &-10 {
    @apply xl:ml-[83.33333333%];
  }

  &-11 {
    @apply xl:ml-[91.66666667%];
  }
}

.xxl\:offset {
  &-0 {
    @apply 2xl:ml-0;
  }

  &-1 {
    @apply 2xl:ml-[8.33333333%];
  }

  &-2 {
    @apply 2xl:ml-[16.66666667%];
  }

  &-3 {
    @apply 2xl:ml-[25%];
  }

  &-4 {
    @apply 2xl:ml-[33.33333333%];
  }

  &-5 {
    @apply 2xl:ml-[41.66666667%];
  }

  &-6 {
    @apply 2xl:ml-[50%];
  }

  &-7 {
    @apply 2xl:ml-[58.33333333%];
  }

  &-8 {
    @apply 2xl:ml-[66.66666667%];
  }

  &-9 {
    @apply 2xl:ml-[75%];
  }

  &-10 {
    @apply 2xl:ml-[83.33333333%];
  }

  &-11 {
    @apply 2xl:ml-[91.66666667%];
  }
}
