.entity-tabs {
  display: flex;
  flex-direction: column;
  width: 100%;

  .entity-tabs-list {
    width: 50%;
    align-self: center;
    flex-shrink: 0;
    display: flex;
    overflow: hidden;
  }
}
