<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <sitecore>
    <settings>
      <setting name="AllowUnauthenticatedRequests" value="false"/>
    </settings>
    <pipelines>
      <httpRequestBegin>
        <processor type="Sitecore.Pipelines.HttpRequest.RequireAuthentication, Sitecore.Kernel">
          <IgnoreRules>
          </IgnoreRules>
        </processor>
      </httpRequestBegin>
    </pipelines>
  </sitecore>
</configuration>
