.hero-section {
  @apply basis-full m-0  bg-left bg-no-repeat bg-cover relative;

  .hero-background {
    @apply h-[614px]  bg-left bg-no-repeat bg-cover relative;
    @apply md:hidden;
    box-sizing: border-box;
  }

  .hero-container {
    @apply flex items-end justify-start w-full mx-auto box-border overflow-hidden lg:max-w-[1364px]  py-10 md:py-0 md:pt-14 md:pb-10;

    @media (max-width: 767px) {
      @apply px-0 mx-0 max-w-none;
    }

    .container-content {
      @apply w-full;
      @apply md:w-45;

      .btn-area {
        @apply p-6;
        @apply md:px-12;
      }

      .content-text {
        @apply p-6 relative;

        .title {
          @apply text-4xl text-white uppercase pt-3 m-0 font-bold mb-[32px];
          @apply md:text-5xl;
        }

        .subtitle {
          @apply text-white;
          @apply md:pb-2;

          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: 26px;
        }
      }
    }
  }

  &.hero-section-editable {
    .hero-background {
      @apply md:block md:absolute md:h-full md:top-0 md:bottom-0 md:left-0 md:right-0 !h-[614px];

      img {
        @apply w-full h-full object-cover;
      }
    }

    .hero-background::after {
      @apply block;
      content: '';
      background: radial-gradient(
        99.96% 99.96% at 0% 99.96%,
        rgba(15, 15, 25, 0.8) 38%,
        rgba(15, 15, 25, 0) 100%
      );
      position: absolute;
      height: 100%;
      width: 100%;
      box-sizing: border-box;
      top: 0;
      left: 0;
    }

    .hero-container {
      @apply absolute top-0 md:relative flex items-start lg:items-end justify-start w-full lg:max-w-[1364px] mx-auto  px-0 box-border overflow-hidden !h-[614px]  py-10 md:py-0 md:pt-14 md:pb-10;
      @apply md:px-6 md:ml-auto;

      .container-content {
        @apply md:w-[500px];
      }
    }
  }
}

.cdp-hero-wrapper {
  @apply basis-full;
}
