<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <services>
      <configurator type= "Sitecore.Connector.ContentHub.DAM.DI.ServicesConfigurator, Sitecore.Connector.ContentHub.DAM"/>
    </services>
    <clientscripts>
      <htmleditor>
        <script src="/sitecore/shell/Controls/Rich Text Editor/Sitecore.Connector.ContentHub.DAM/Sitecore.Connector.ContentHub.DAM.Commands.js" language="JavaScript" key="rte.custom"/>
      </htmleditor>
    </clientscripts>
    <pipelines>
      <StylelabsSiteId>
      </StylelabsSiteId>
      <renderField>
        <processor patch:after="processor[@type='Sitecore.Pipelines.RenderField.GetImageFieldValue, Sitecore.Kernel']" type="Sitecore.Connector.ContentHub.DAM.Pipelines.RenderField.GetMImageRenderField, Sitecore.Connector.ContentHub.DAM"/>
      </renderField>
    </pipelines>
    <commands>
      <command name="webedit:chooseMImage" type="Sitecore.Connector.ContentHub.DAM.Link.MImageCommand, Sitecore.Connector.ContentHub.DAM" />
      <command name="webedit:editimage" set:type="Sitecore.Connector.ContentHub.DAM.Link.MEditImageCommand, Sitecore.Connector.ContentHub.DAM" />
      <command name="stylelabs:configureM" type="Sitecore.Connector.ContentHub.DAM.Link.OpenMConfigurationModal, Sitecore.Connector.ContentHub.DAM" />
    </commands>
    <settings>
      <setting name="DAM.StylelabsSiteIdPipelineName" value="StylelabsSiteId" />
      <setting name="DAM.LogMessageTitle" value="[Sitecore Connect for Content Hub]" />
    </settings>
  </sitecore>
</configuration>
